html,
body
{
 height: 100%;
 font-size: 1.20rem;
 font-family: 'Orelega One', cursive;

}

.gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 0%, rgba(8,92,137,1) 43%, rgba(0,212,255,1) 100%);
}
.page-header
{
    margin-top: 4rem;
    font-size:4rem;
    color: #fff;   
}

.lead
{
    margin-top: 1rem;
    font-size:1.5rem;
    color:blanchedalmond; 
}
.feature 
{
color: #fff;

}
.feature ul
{
    padding-left: 3rem;
    list-style-type: none;

}
.feature ul li
{
    padding-left: 2rem;
    background-image: url(../image/check.svg);
    background-repeat: no-repeat;
    line-height: 1.6rem;
    margin-bottom: 1rem;

}
dl, ol, ul {
    margin-top: -10px;
    margin-bottom: 3rem;
}
.icon
{
    color:white;  
    height: 5rem;
    width: 5rem; 
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    

}
.gallery
{
    background-color: whitesmoke;


}

.gallery img
{
    border-radius: 8%;
}
.my-3 {
    margin-top: 0.5rem!important;
    margin-bottom: -1rem!important;
}
.g-3, .gy-3 {
    --bs-gutter-y: 1rem;
}
.g-3, .gx-3 {
    --bs-gutter-x: 1rem;
}